html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
}

.help {
  display: none;
}

.desktop-footer {
  display: none
}

.desktop-header {
  display: none;
}

.closed-header, .opened-header, .menu__btn, .help, .content-block__after-setup, button, a {
  transition: .1s linear;
}

/* *Header */
.closed-header, .opened-header {
  background-color: #fff;
  box-shadow: 0 0 10px 5px #c9d6f2;
  justify-content: center;
  width: 100vw;
  z-index: 1;
}

.closed-header {
  height: 9vh;
}

.opened-header{
  height: 100vh;
}

/* Menu */
.header__menu {
  cursor: pointer;
  height: 20px;
  transform: translateY(-50%);
  width: 40px;
}

.header__menu:hover > .menu__btn {
  background-color: #0da088;
}

.opened {
  height: 25px;
}

.menu__btn {
  background-color: #3fd6bc;
  height: 3px;
  width: 100%;
}

.header__logo {
  display: block;
  height: 25px;
  margin: auto 0;
}

/* * Main content */
.container {
  margin: 9vh 0 0 0;
}

.container > div:nth-child(odd) {
  background-color: #eff4f4;
}

.container > div:nth-child(even) {
  background-color: #fff;
}

.content-block {
  padding: 7%;
}

.content-block__heading {
  color: #393e6b;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  width: 82%;
}

.content-block__text {
  color: #74757b;
  font-size: 1em;
  width: 90%;
}

.setup__item {
  width: 33%;
}

.item__step {
  color: #e1e2e9;
  font-size: 5em;
}

.icon-01, .icon-02 {
  font-size: 0.4em;
  opacity: 1;
  position: absolute;
  transform: translate(-65%, 85%);
}

.docs__item {
  font-size: 1em;
  color: #74757b;
}

.after-setup__icon {
  display: block;
  font-size: 3em;
  width: 30%;
}

.link-social, .after-setup__text {
  display: block;
  font-size: .9em;
  align-self: center;
  width: 70%;
}

.after-setup__text {
  color: #3b4269;
}

.content-block__conclus {
  color: #3b4269;
}

.social__icon {
  display: block;
  font-size: 2.5em;
  width: 25%;
}

.footer {
  background-color: #3b4269;
  color: #fff;
  padding: 5vh 7%;
}

/* * Buttons */
button {
  background-color: #eff4f4;
  border: 2px solid #393e6b;
  border-radius: 3em;
  color: #393e6b;
  cursor: pointer;
  font-weight: 700;
  line-height: 3em;
  text-transform: uppercase;
}

button:hover {
  border: 2px solid #464d85;
  color: #464d85;
}

.primary-btn {
  border: 2px solid #3fd6bc;
  color: #fff;
  background-color: #3fd6bc;
}

.primary-btn:hover {
  border: 2px solid #0da088;
  color: #fff;
  background-color: #0da088;
}

.secondary-btn {
  background-color: #3b4269;
  color: #fff;
}

.secondary-btn:hover {
  background-color: #464d85;
  color: #fff;
}

/* * Link */
a {
  color: #0da088;
}

a:hover {
  color: #3fd6bc;
}

/* * List */
ul {
  margin: 0;
  padding: 1em;
}

ul li {
  color: #393e6b;
}

/* * Modificators */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.header-position {
  position: fixed;
  top: 0;
}

.menu-position {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 10vw;
  position: absolute;
  top: 50%;
}

.button-position {
  display: flex;
  flex-direction: column;
}

.content-block * {
  margin: 1.5vh 0;
}

@media screen and (min-width: 400px) {
  .header__logo {
    height: 40px;
  }

  .social__icon {
    width: 20%;
  }

  .step-link {
    display: block;
    margin: 0 0 0 30px;
  }

  .docs__item {
    font-size: 1em;
    color: #74757b;
  }
}

@media (min-width: 500px) {
  .header__logo {
    height: 50px;
  }

  .after-setup__icon {
    width: 20%;
  }

  .social__icon {
    width: 15%;
  }
}

@media (orientation: landscape){
  button {
    align-self: center;
    width: 50%;
  }

  .help {
    text-align: center;
    background-color: #3fd6bc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .help:hover {
    background-color: #0da088;
  }

  .fa-comments {
    color: #fff;
  }

  .closed-header {
    height: 10vh;
  }

  .container {
    margin: 10vh 0 0 0;
  }

  .content-block {
    padding: 7% 20%;
  }

  .content-block * {
    margin: 1.5vw 0;
  }
}

@media screen and (min-width: 1200px) {
  button {
    border-radius: 4em;
    line-height: 4em;
    width: 50%;
  }

  .mobile-footer {
    display: none;
  }

  .mobile-header {
    display: none;
  }

  .item__step {
    font-size: 6em;
  }

  .icon-01, .icon-02 {
    font-size: .4em;
    transform: translate(-65%, 95%);
  }

  .desktop-header {
    background: url("../img/shapka.png") no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    padding: 0 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }

  .navigation > .header__logo {
    display: inline-block;
    height: 20px;
  }

  .navigation, .login {
    text-transform: uppercase;
    font-size: .8em;
    align-self: center;
    margin: 0 30px;
  }

  .navigation *, .login * {
    text-decoration: none;
    color: #3a3f6b;
    margin: auto 5px;
  }

  .navigation > a:hover, .login > a:hover {
    color: #3a3f6b;
    text-shadow: 0 0 1px #3a3f6b;
  }

  .content-block {
    padding: 4% 25% 4% 15%;
  }

  .content-block * {
    margin: 1.5vh 0;
  }

  .button-position {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
  }

  .primary-btn {
    margin-right: 1em;
  }

  .after-setup__icon {
    font-size: 3em;
    width: 12%;
  }

  .social__icon {
    width: 30%;
  }

  .social-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .desktop-footer {
    color: #b7bac9;
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    justify-content: space-between;
  }

  .copyright * {
    margin: 20px 40px 0 40px;
  }

  .left-part > div > img {
    filter: brightness(5.0);
  }

  .phone {
    color: #fff;
    margin: 20px 0 0 0;
    font-size: 1.2em;
  }

  .right-part {
    padding: 10px;
  }

  .right-part * {
    margin: 10px;
  }

  .content-block__after-setup {
    position: relative;
  }
  
  .content-block__after-setup::after {
    content: '';
    position: absolute;
    top: 75%;
    left: 10%;
    width: 0;
    height: 2px;
    background-color: #3fd6bc;
    transition: .2s linear;
  }
  
  .content-block__after-setup:hover::after {
    width: 13%;
  }
}